*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Exo 2', sans-serif;
}


/*text style*/
h1{
    position: absolute; 
    color: white; 
    top: 280px; 
    left: 68px;
    text-transform: uppercase; 
}

h2{
    position: absolute; 
    color: white; 
    font-size: 14px; 
    text-transform: uppercase; 
    padding: 8px 15px; 
    border-radius: 10px; 
    background-color: #000; 
    top: 325px; 
    left: 68px; 
}



/*nav med logo*/
.logo{
    background-color: white;
    height: 98px; 
}

.logo img{
    width: 193px;
    margin-top: 24px; 
    margin-left: 53px; 
    float: left;  
}

/*search bar*/
.search{
    float: right; 
    margin-top: 28px; 
}

.search input{
    height: 30px; 
    width: 220px; 
    margin-right: 50px;
    border-radius: 4px; 
    border: solid 0.1px lightgray; 
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 7px; 
    outline: none; 
    cursor: auto; 
}

.search button{
    font-size: 20px;
    border: none; 
    position: relative;
    right: 80px;
    outline: none;
    cursor: pointer; 
}


/*Navigation*/
nav{
    font-size: 0px; 
}

ul{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    text-align: center;
    background-color: #046143; 
}

li{
    display: inline-block;
    width: 230px;
    margin-right: -2px;
    border-style: ridge; 
    border-color: #147654; 
    border-top: 0; 
    border-bottom: 0;
    border-left-width: 2px; 
    border-right-width: 2px; 
}

li a{
    text-decoration: none; 
    color: white; 
    display: block; 
    padding: 20px;
    font-size: 12px;
    text-transform: uppercase; 
}

li a:hover{
    background-color: #005635; 
}

.active{
    background-color: #005635; 
}

/*header*/

header{
    height: 260px; 
    overflow: hidden; 
}

header img{
    width: 100%; 
}






/*footer*/
footer{
    background-color: #F7F7F7;
    float: left; 
    width: 100%; 
}

.adr{
    width: 50%; 
    float: left;
    padding: 20px 0px 25px 70px; 
}

.f-blue{
    color: #0D8CC4;
    font-size: 16px;
    font-weight:bold; 
}

.f-black{
    color: #3E3E3E; 
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    font-weight: lighter; 
}

.link-blue{
    color: #0D8CC4; 
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    text-decoration: underline; 
}

.some{
    width: 280px; 
    float: right;
    padding: 34px 0px 34px 0px;
}

.ssl{
    width: 150px; 
}

.some-icon{
    width: 45px; 
}


